*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
}

.rightheader ul{
    list-style: none;
    display: flex;
}

.rightheader ul li{
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}


.container{
    padding: 0px 100px;
}
.newBtn{
    height: auto;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
    color: #FE6F61;
    border-radius: 5px;
}


.heroSec{
    height: auto;
    width: 100%;
    padding: 200px 0px;
    background-image: url(./image/bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.heroLink{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.heroSec p{
    padding: 20px 0;
    font-size: 20px;
}

.heroSec h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.teacherSec{
    height: auto;
    width: 100%;
    padding: 50px 0;
}
.teacherSec h2 {
    text-align: center;
}



.teacherOne{
    height: auto;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FE6F61;
}

.teacherLeft{
    width: 40%;
    height: auto;
}
.teacherLeft img{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.teacherRight {
    width: 60%;
    float: left;
}

.star ul{
    list-style: none;
    display: flex;
    padding: 0;
}

.star i{
    color: goldenrod !important;
    margin-bottom: 20px;
}

.teacherSec .newBtn{
    background-color: #FE6F61;
    color: #fff;
    margin-top: 20px;
}


.contactSec{
    height: auto;
    width: 100%;
    padding: 150px 0;
}

.fonrmSec{
    height: auto;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px 4px #0000003b;
    padding: 30px;
    border-radius: 5px;
}

.fonrmSec h2{
    text-align: center;
}

.fonrmSec input, textarea{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
}

.fonrmSec .newBtn{
    background-color: #FE6F61;
    color: #fff;
}

.footerSec .container{
    height: auto;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSec h5{
    float: right;
    text-align: right;
}

.footerSec .leftFooter{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.footerSec .leftFooter{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.footerSec .rightFooter{
    width: 50%;
}


.aboutSection .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.aboutSection .container h2{
    margin-bottom: 20px;
}
.aboutSection  .container p{
    padding: 0;
}
.aboutSection p{
    padding: 0 100px;
}

.tutorialSection{
    height: auto;
    width: 100%;
    padding: 20px 100px;
}

@media screen and (max-width:767px) {
    header{
        display: block;
    }
    header img {
        margin: 0 auto;
        text-align: center;
        display: flex;
    }
    .heroSec{
        padding: 50px 0;
    }

    .heroLink{
        display: block;
    }
    
    .heroSec h2{
        font-size: 30px;
    }
    .aboutSection .container {
        padding: 20px 10px;
        display: block;
    }
    .aboutSection p {
        padding: 0 10px;
    }
    .footerSec .container{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .footerSec .container{
        padding: 0 10px;
    }

    .footerSec .rightFooter, .footerSec .leftFooter{
        text-align: center;
        width: 100%;
    }

    .footerSec h5{
        float: none;
    }

    .contactSec .container {
        padding: 0px 10px;
    }

    .teacherSec .container{
        padding:  0 10px;
    }

    .teacherOne{
        display: inline-block;
    }
    .tutorialSection{
        padding: 0;
        margin-top: 40px;
    }


}


/* loader here  */
#containerr {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#containerr::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 10px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #555;
    border-radius: 50%;
    animation: shadow-animate 1s infinite;
}

.ball {
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    top: 0;
    background: #5cff5c;
    border-radius: 50%;
    box-shadow: 0 0 10px #5cff5c, 0 0 30px #5cff5c;
    animation: ball-animate 1s infinite;
}

@keyframes ball-animate {
    5% {
        width: 50px;
        height: 50px;
    }

    20% {
        height: 60px;
    }

    30% {
        width: 45px;
        height: 60px;
    }

    50% {
        width: 57px;
        height: 35px;
        transform: translateY(275px);
    }

    75% {
        width: 50px;
        height: 50px;
    }
}

@keyframes shadow-animate {
    25% {
        width: 50px;
        height: 10px;
    }

    50% {
        width: 57px;
        height: 10px;
    }

    75% {
        width: 50px;
        height: 10px;
    }
}


#containerr{
    background: #000 url(./img/loader.gif) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }


